<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col">
        <chart [options]="optionsLineGraph"></chart>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
        <chart [options]="pieOptions"></chart>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <paper-input label='Поиск' (keyup)="filterPeople($event)"></paper-input>
            </div>
            <div class="mdl-cell mdl-cell--6-col">.
            </div>
        </div>
        <vaadin-grid [items]="displayedUsers" (sort-order-changed)="sortUsers($event)">
            <table>
                <colgroup>
                    <col sortable name="LoginName">
                    <col sortable name="LogonTime">
                    <col sortable name="LogoffTime">
                </colgroup>
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Авторизирован</th>
                        <th>Завершен сеанс</th>
                    </tr>
                </thead>
            </table>
        </vaadin-grid>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Показано {{currentUserFilteredCount}} из {{currentUserCount}} записей</span>
        </span>

    </div>
</div>