<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
    </div>
</div>
<h5>Использование лицензий</h5>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <chart [options]="optionsPieGraph"></chart>
        <div class="mdl-cell mdl-cell--4-col ">
            <span class="mdl-chip">
            <span class="mdl-chip__text">Активно лицензий {{usedLicense}}</span>
            </span>
            <span class="mdl-chip">
            <span class="mdl-chip__text">Выдано лицензий {{allLicense}}</span>
            </span>
            <span class="mdl-chip">
            <span class="mdl-chip__text">Активно пользователей {{usersLicense}}</span>
            </span>
        </div>
    </div>
</div>
<h5>Ретроспектива </h5>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <chart [options]="optionsLineGraph">
            <series>
                <point (select)="onPointSelect($event)"></point>
            </series>
        </chart>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <paper-input label='Поиск' (keyup)="filterPeople($event)"></paper-input>
            </div>
            <div class="mdl-cell mdl-cell--6-col">.
            </div>
        </div>
        
        <vaadin-grid [items]="people">
            <table>
                <colgroup>
                    <col name="firstName">
                    <col name="lastName">
                    <col name="email">
                </colgroup>
            </table>
        </vaadin-grid>

        <vaadin-grid [items]="Licences" (sort-order-changed)="sortUsers($event)">
            <table>
                <colgroup>                
                    <col sortable name="LoginName">
                    <col sortable name="LogonTime">
                    <col sortable name="LogoffTime">
                </colgroup>
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Авторизирован</th>
                        <th>Завершен сеанс</th>
                    </tr>
                </thead>
            </table>
        </vaadin-grid>
        <span class="mdl-chip">
            <!--<span class="mdl-chip__text">Показано {{currentUserFilteredCount}} из {{currentUserCount}} записей</span>-->
        </span>
    </div>
</div>