    chart {
        display: block;
    }
    
    .dtable {
        width: 100%;
    }
    
    .maincnt {
        padding: 10px;
        background: white;
    }
    
    .devider {
        height: 10px;
    }
    
    .active {
        background: #E91E63;
    }
    
    .summ {
        background: #3F51B5;
    }

