    .mdl-cell {
        box-sizing: border-box;
        background-color: transparent;
        min-height: 340px;
        padding-left: 8px;
        padding-top: 4px;
    }
    
    chart {
        display: block;
    }
    
    vaadin-grid {
        height: 300px;
    }
    
    paper-card {
        display: block;
    }