<paper-drawer-panel id="paperDrawerPanel" force-narrow>
    <div drawer>
        <div class="horizontal-section">
            <h6>Точки обслуживания</h6>
            <paper-menu>
                <paper-item *ngFor="let item of endpoints; let i=index">{{item.title}}</paper-item>
            </paper-menu>
        </div>
    </div>
    <div main>
        <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <paper-toolbar>
                <paper-icon-button icon="menu" paper-drawer-toggle raised></paper-icon-button>
                <span class="title">{{title}}</span>
                <paper-icon-button icon="refresh"></paper-icon-button>
            </paper-toolbar>
        </header>
        <div class="demo-ribbon"></div>
        <main class="demo-main mdl-layout__content">
            <!--контент приложения -->
            <app-current-status-component></app-current-status-component>
            <div>
            </div>
        </main>

    </div>
</paper-drawer-panel>