<app-drawer-layout>
    <app-drawer>
        <paper-menu>
            <paper-item *ngFor="let hero of heroes" (click)="onSelect(hero)">{{hero.title}}</paper-item>
        </paper-menu>
    </app-drawer>
    <app-toolbar>
        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        {{title}}
        <paper-spinner active class="white" *ngIf="progressStatus >0"></paper-spinner>
    </app-toolbar>
    <div class="pure-g" *ngIf="loadedFlag > 0">
        <div class="pure-u-1 pure-u-md-1-3">
            <chart [options]="optionPieChart">
            </chart>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <chart [options]="optionsLineGraph">
                <series>
                    <point (select)="onPointSelect($event)"></point>
                </series>
            </chart>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <vaadin-grid [items]="selectedLicensesInTime">
                <table>
                    <colgroup>
                        <col name="LoginName">
                        <col name="LogonTime">
                        <col name="LogoffTime">
                        <col name="PasswordKey">
                        <col name="PersonId">
                        <col name="UserKey">
                    </colgroup>
                </table>
            </vaadin-grid>
        </div>
    </div>
</app-drawer-layout>