<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">

        <paper-input (keyup)="filterPeople($event)" label='Поиск'></paper-input>
        <vaadin-grid [items]="displayedUsers" (sort-order-changed)="sortUsers($event)">
            <table>
                <colgroup>
                    <col sortable name="LoginName">
                    <col sortable name="LogonTime">
                </colgroup>
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Зарегистрирован</th>
                    </tr>
                </thead>
            </table>
        </vaadin-grid>
    </div>
    <div class="mdl-cell mdl-cell--6-col ">
        <base-chart class="chart " [data]="chartdata " [labels]="chartlabels " [chartType]="chartype "></base-chart>
    </div>
</div>