<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
        <paper-input (keyup)="filterPeople($event)" label='Поиск'></paper-input>
        <vaadin-grid [items]="displayedUsers" (sort-order-changed)="sortUsers($event)">
            <table>
                <colgroup>
                    <col sortable name="LoginName">
                    <col sortable name="LogonTime">
                </colgroup>
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Зарегистрирован</th>
                    </tr>
                </thead>
            </table>
        </vaadin-grid>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Показано {{currentUserFilteredCount}} из {{currentUserCount}} лицензий</span>
        </span>
    </div>
    <div class="mdl-cell mdl-cell--7-col ">
        <!--<base-chart class="chart " [data]="chartdata " [labels]="chartlabels " [chartType]="chartype "></base-chart>-->

        <chart [options]="options"></chart>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Активно лицензий {{usedLicense}}</span>
        </span>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Выдано лицензий {{allLicense}}</span>
        </span>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Активно пользователей {{allUsers}}</span>
        </span>
    </div>
</div>